/* css styles */

img.right-padded {
  height: 300px !important;
  padding: 14px;
  float: right;
}

.chart-wrapper .cell-output-display {
  display: inline-block;
  width: calc(50% - 5px);
  min-width: 400px;
}

img.team {
  width: 500px;
}